.blogs {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  img {
    max-width: 100%;
  }
  
  .blogs {
    margin: 0 auto;
    max-width: 1050px;
  }
  
  .blog {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  }
  
  .blog .header {
    padding: 10px;
    background-color: #0084AD;
      color: #fff;
  }
  
  .blog .header h2 {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  
  .blog .body {
    padding: 10px;
    font-size: .9rem;
    color: #757575;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    align-items: center;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .btn {
    background-color: green; 
    border-radius: 10px;
  }
  
  .btn:hover {
    background-color: #b5c900;
    color: rgb(0, 0, 0);
  }
  